.site-header .nav-d,
.site-header>.s-container {
    position: relative
}

body.headbar-d .site-branding,
body.headbar-d .site-member {
    display: block
}

.site-header {
    min-height: var(--s-header-height);
    background: 0 0;
    line-height: 1;
    padding-bottom: 0
}

.site-header a {
    color: var(--s-text)
}

.site-header #top-sec ul li:hover a,
.site-header a:hover {
    color: var(--s-accent-hover)
}

.site-header .nav-d .-bg {
    position: absolute;
    left: 0;
    z-index: -1;
    top: -50px
}

.site-branding,
.site-nav-d .menu-item-has-children {
    position: relative
}

.site-header #top-sec {
    min-height: auto;
    background: rgba(255, 255, 255, .1);
    border-radius: 30px;
    margin-right: auto
}

.site-header #top-sec>div {
    height: 100%
}

.site-header #top-sec .children {
    display: none
}

.site-header #top-sec ul,
.site-header #top-sec ul li {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox
}

.site-header #top-sec ul {
    padding: 0;
    margin: 0;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.site-header #top-sec ul li,
.site-nav-d li {
    list-style: none;
    -webkit-justify-content: center;
    text-align: center
}

.site-header #top-sec ul li {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.site-header #top-sec ul li:hover.sub-menu {
    opacity: 1;
    max-height: 100vh;
    top: 100%;
    height: auto;
    z-index: 91;
    overflow: visible
}

.site-header #top-sec ul li a {
    color: var(--s-text);
    padding: 10px 15px
}

.site-header #top-sec ul li .current_page_item,
.site-header #top-sec ul li.current-menu-item {
    color: var(--s-accent);
    border-left: 0
}

.site-header #top-sec ul li .current_page_item a,
.site-header #top-sec ul li.current-menu-item a {
    color: var(--s-accent);
    font-weight: 700
}

.s-autoshow-d.-hide {
    -webkit-transform: translateY(calc(var(--s-header-height) * -2));
    -ms-transform: translateY(calc(var(--s-header-height) * -2));
    transform: translateY(calc(var(--s-header-height) * -2))
}

.s-autoshow-d.-show {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.site-header-space {
    min-height: var(--s-header-height)
}

.site-branding {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.site-branding img {
    max-height: var(--s-header-height);
    width: auto
}

.site-title {
    font-size: 24px
}

.site-description {
    display: inline-block;
    margin: 0;
    padding-left: 15px;
    opacity: .75;
    padding-top: 2px
}

.site-nav-m {
    width: 10%
}

.site-nav-d {
    margin-left: auto;
    background-color: transparent;
    border-radius: 50px;
    display: inline-block
}

.site-nav-d>div {
    height: 100%
}

.site-nav-d .children {
    display: none
}

.site-nav-d ul {
    padding: 0;
    margin: 0;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 100%
}

.site-nav-d li {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.site-nav-d li a {
    padding: 10px 25px;
    font-size: 16px
}

.site-nav-d li.current-menu-item a,
.site-nav-d li:hover a {
    color: var(--s-accent);
    text-shadow: var(--s-shadow)
}

.site-nav-d li:hover>.sub-menu {
    opacity: 1;
    max-height: 100vh;
    top: 100%;
    height: auto;
    z-index: 91;
    overflow: visible
}

.site-nav-d .menu-item-has-children>svg {
    position: absolute;
    right: -10px;
    top: auto;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
    width: 40px;
    height: 40px;
    padding: 10px;
    z-index: 1
}

.site-nav-d .menu-item-has-children.active>svg {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1)
}

.site-nav-d .menu-item-has-children>.sub-menu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .5s, opacity .3s
}

.site-nav-d .menu-item-has-children>.sub-menu svg {
    width: 30px;
    height: 30px;
    padding: 6px;
    right: -5px;
    top: 2px
}

.site-nav-d .menu-item-has-children.active>.sub-menu {
    max-height: 300vh;
    opacity: 1;
    transition: opacity .6s ease-in-out
}

.site-nav-d .sub-menu {
    display: block;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    height: auto;
    max-height: 0;
    position: absolute;
    z-index: 90;
    top: calc(100% + 5px);
    -webkit-filter: drop-shadow(var(--s-shadow));
    filter: drop-shadow(var(--s-shadow));
    transition: all .3s ease-in-out;
    background-color: var(--s-bg);
    min-width: 180px
}

.site-nav-d .sub-menu:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--s-bg);
    z-index: 1
}

.site-nav-d .sub-menu li {
    height: auto;
    line-height: 1.4;
    position: relative;
    padding: 0 15px
}

.site-nav-d .sub-menu li a {
    padding: 10px 0;
    display: block;
    color: var(--s-text);
    text-align: left;
    border-bottom: 1px dashed var(--s-line)
}

.site-nav-d .sub-menu li:last-child>a {
    border-bottom: none
}

.site-nav-d .sub-menu li:hover a {
    color: var(--s-accent-hover)
}

.site-nav-d .sub-menu li:hover .sub-menu {
    top: 0;
    z-index: 92
}

.site-nav-d .sub-menu .sub-menu {
    left: 100%;
    top: 5px
}

.site-member,
.site-toggle {
    top: auto;
    position: relative
}

.site-nav-d .sub-menu .sub-menu .sub-menu,
.site-nav-d .sub-menu .sub-menu:before {
    display: none
}

.site-member {
    margin-left: 20px;
    right: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.site-member .m-user {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.site-member .info {
    padding-left: 8px;
    display: block
}

.site-search {
    position: relative;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0
}

.site-toggle {
    display: none;
    left: auto
}

.content-item.-hero {
    border-radius: var(--s-border-radius);
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 73fr 38fr;
    grid-template-columns: 73fr 38fr
}

.content-item.-hero .pic {
    margin-bottom: 0
}

.content-item.-hero .pic>a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.content-item.-hero .pic img {
    max-height: 600px
}

.content-item.-hero .info {
    padding: 30px
}

.main-body.-rightbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.main-body.-rightbar .widget-area {
    width: 300px;
    padding-left: var(--s-space)
}

.main-body.-rightbar .content-area {
    width: calc(100% - 300px)
}

.main-body.-leftbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.main-body.-leftbar .widget-area {
    width: 300px;
    padding-right: var(--s-space)
}

.main-body.-leftbar .content-area {
    width: calc(100% - 300px)
}

.main-body.-leftrightbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.page-form {
    padding: 15px 25px 1px;
    max-width: 920px
}

.site.-header-desktop-overlay .page-form {
    background-color: #fff;
    margin-top: -80px;
    position: relative
}

.entry-author {
    margin-top: 40px;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.entry-author .pic {
    margin: 0;
    padding-right: var(--s-space);
    min-width: 100px
}

.comments-area {
    margin-bottom: 30px
}

.comment-form-author,
.comment-form-email {
    float: left;
    width: 32%;
    margin-right: 2%
}

.comment-form-url {
    float: left;
    width: 32%
}

.site-login {
    max-height: 400px
}

.slot-game {
    height: 600px
}

@media (min-width:992px) {
    body.page-template-page-form .site-content {
        padding-top: 35px;
        padding-bottom: 35px
    }
}